<div id="main content">
        <div id="title"><h1>SPARK Registration</h1></div>
        <div id="school_button_contain">
          <a href="/elementary/index">
            <div class="school_buttons">Elementary School Registration</div>
          </a>
          <a href="/middle/index">
            <div class="school_buttons">Middle School Registration</div>
          </a>
          <a href="/high/index">
            <div id="school_button_right" class="school_buttons">High School Registration</div>
          </a>
      </div>
    
      <div id="other_button_contain">
         <a class="button" href="/sessions/new">Advisors Register Here</a>
      </div> 
          
    </div>
