
<body>
  <div id="body_bg">
    <div id ="main content">
        <div id = "title"><h1>SPARK Registration</h1></div>
        <p>Please choose what level of school you are in. <br>If you are an advisor you can create a login to ...</p>
        <br>
        <%= link_to "Elementary School Registration", elementary_index_path, :class => "button" %>
        <br>
        <%= link_to "Middle School Registration", middle_index_path, :class => "button" %>
        <br>
        <%= link_to "High School Registration", high_index_path, :class => "button" %>
        <br>
        <%= link_to "Advisor Registration", advisor_index_path, :class => "button" %>
    </div>  
    		<div id="bottom_contact_us_div">
  				<div id="bottom_contact_us_FAQ">
  					<div id="bottom_links">
  						<a class="bottom_links" href="http://spark.tamu.edu/contact_us.html">Contact Us</a>
  						<a class="bottom_links" href="http://sec.tamu.edu/">About Us</a>
  						<a class="bottom_links" href="http://spark.tamu.edu/FAQ.html">FAQ</a>
  					</div>
  				</div>
  			</div>
  </div>
</body>
  
