<%= form_for( :session, :url => emailforgotpassword_path ) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>

<% end %>
