<h1>UserMailer#forgot_password</h1>

<p>
  <%= @greeting %>
  <% if @user.usertype == "admin" %>
    <%= link_to "Recover you Password!", changepassword_admin_path(@user) %>
  <% else %>
    <%= link_to "Recover you Password!", @advisor_url %>
  <% end %>
</p>
