<p id="notice"><%= notice %></p>

<div id="main_content">
  <div id="title"><h1>Admin Page</h1></div>
  <div id="admins_button_contain">
    <a href="/admins/advisor_info">
      <div class="admins_buttons">
        Advisor Information
      </div>
    </a>
  </div>
</div>
