
<body>
  <div id ="body_bg">
    <div id = "main content">
      <div id = "title"><h1>Middle School Signup</h1></div>
      <p>Please choose whether you are signing up as part of a team or as an individual</p>
    </div>
    
  <div id="bottom_contact_us_div">
		<div id="bottom_contact_us_FAQ">
			<div id="bottom_links">
				<a class="bottom_links" href="http://spark.tamu.edu/contact_us.html">Contact Us</a>
				<a class="bottom_links" href="http://sec.tamu.edu/">About Us</a>
				<a class="bottom_links" href="http://spark.tamu.edu/FAQ.html">FAQ</a>
			</div>
		</div>
  </div>
  
  </div>
</body>
