<html>
	<head>
		<title>SPARK Registration Page</title>
		<script src="http://spark.tamu.edu/js/countdown.js"></script>
		<script type="text/javascript" src="jquery-1.10.2.min.js"></script>
	</head>
<body>
      <div id="upper_banner_bg">
			<div id="upper_banner"><img src="http://spark.tamu.edu/Expo_upper_banner.jpg">
			</div>
			
			<div id="nav_bar_bg"></div>
			<div id="expo_logo_bg" class="">
				<div class="nav">
				<a href="http://spark.tamu.edu/index.html"><img id="expo_logo" src="http://spark.tamu.edu/spark_logo_web.png" height="90px" width="183px"></a>
				</div>
				<div class="nav">
				<div id="cssmenu">
					<ul>
					   <li class="active"><a href="http://spark.tamu.edu/index.html"><span>Home</span></a></li>
					   <li class="has-sub"><a href="/"><span>Register</span></a>
     						<ul>
        						<li><a href="/elementary/index"><span>Elementary School</span></a></li>
         						<li><a href="/middle/index"><span>Middle School</span></a></li>
         						<li><a href="/high/index"><span>High School</span></a></li>
         						<li><a href="/advisor/index"><span>Advisors</span></a></li>
      						</ul>
   						</li>
  						
   						<li class="has-sub"><a href="#"><span>Competitions</span></a>
     						<ul>
        						<li><a href="http://spark.tamu.edu/elementary_school.html"><span>Elementary School</span></a></li>
         						<li><a href="http://spark.tamu.edu/middle_school.html"><span>Middle School</span></a></li>
         						<li class="last"><a href="http://spark.tamu.edu/high_school.html"><span>High School</span></a></li>
                                 <li><a href="http://spark.tamu.edu/high_prebuilt.html"><span>High School Prebuilt</span></a></li>
      						</ul>
   						</li>
   						<li class="has-sub"><a href="#"><span>Itinerary</span></a>
                            <ul>
                                <li><a href="/itinerary_elementary_middle.html"><span>Elementary/Middle</span></a></li>
                                <li><a href="/itinerary_high.html"><span>High School</span></a></li>
                            </ul>
   						</li>
						<li class="last"><a><span>About</span></a>
     						<ul>
        						<li><a href="http://spark.tamu.edu/about_expo.html"><span>About Spark</span></a></li>
         						<li><a href="http://spark.tamu.edu/contact_us.html"><span>Contact Us</span></a></li>
         						<li class="last"><a href="http://spark.tamu.edu/FAQ.html"><span>FAQ</span></a></li>
      						</ul>
   						</li>

					</ul>
				</div>
				
				</div>
				<div class="bg-gradient" id="countdown_div"></div>
				<div class="container">
    				<div id="CDT"><span class="number-wrapper"><div class="line"></div><div class="caption">DAYS</div><span class="number day">209</span></span><span class="number-wrapper"><div class="line"></div><div class="caption">HOURS</div><span class="number hour">19</span></span><span class="number-wrapper"><div class="line"></div><div class="caption">MINS</div><span class="number min">57</span></span><span class="number-wrapper"><div class="line"></div><div class="caption">SECS</div><span class="number sec">45</span></span></div>
  				</div>
  					
			</div>
			
		</div>


  <div id ="body_bg">
    <div id = "main content">
      <div id = "title"><h1>Middle School Signup</h1></div>
      <p style="text-align:center">Please provide the information below to sign up for SPARK</p>
    </div>

    <!-- BEGIN Right Signature iframe -->
    <div style="text-align:center">
	<div>
		<iframe frameborder="0" height="500" scrolling="no" src="https://rightsignature.com/forms/SampleAgrement1-73ddb0/embedded/4ea6cb910a3?height=500" width="706">
		</iframe>
		<div style="font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;line-height:13px !important;text-align:center;margin-top: 6px !important;">
			<a href="https://rightsignature.com" target="_blank" style="color:#AAA;text-decoration:none;">
			Digital Signature Software
			</a> 
			by RightSignature &copy; &nbsp;&bull;&nbsp; 
			<a href="https://rightsignature.com/terms" target="_blank" style="color:#888;">
			Terms of Service</a> &nbsp;&bull;&nbsp; 
			<a href="https://rightsignature.com/privacy" target="_blank" style="color:#888;">
			Privacy Policy
			</a>
		</div>
	</div>
   </div>
   <!-- END Right Signature iframe -->
    
  <div id="bottom_contact_us_div">
		<div id="bottom_contact_us_FAQ">
			<div id="bottom_links">
				<a class="bottom_links" href="http://spark.tamu.edu/contact_us.html">Contact Us</a>
				<a class="bottom_links" href="http://sec.tamu.edu/">About Us</a>
				<a class="bottom_links" href="http://spark.tamu.edu/FAQ.html">FAQ</a>
			</div>
		</div>
  </div>
  
  </div>
</body>
</html>
