<div id = "main content">
<div id = "title"><h1>High School Registration</h1></div>
<p style="text-align:center">Please provide the information below to sign up for SPARK</p>

<div style="text-align:center">
<p>Team or Individual?</p>
<form action="marketplace">
	<input type="submit" value="Team">
</form>
<form action="../student_users/new">
	<input type="submit" value="Individual">
</form>
</div>

</div>

