<div id = "main content">
<div id = "title"><h1>Payment</h1></div>
<p style="text-align:center">Please provide the information below to sign up for SPARK</p>

<div style="text-align:center">
<form action="action_page.php">
<ins>If you have a payment code enter it here</ins> <input type="text" name="payment_code"> <input type="submit" value="Submit">
</form>
<br>
<p>If you DO NOT have a payment code:</p>
<form action="marketplace">
	<input type="submit" value="Continue to Marketplace">
</form> 
</div>

</div>