<<<<<<< HEAD

<div style="text-align:center">
<h1>New Advisor User</h1>
=======
<div id="center_form">
>>>>>>> 5792351f419275b112c9d5b540601b0a3d2844b2

<%= render 'form' %>

</div>

<%= link_to 'Back', '/sessions/new' %>

</div>
