<div id = "main content">
<div id = "title"><h1>Registration Completed</h1></div>
<p style="text-align:center">Thank you for registering. Your registration has been completed</p>
</div>

<form action="http://spark.tamu.edu/" style="text-align:center">
	<input type="submit" value="Spark Home Page">
</form>
