// Place all the styles related to the AdvisorUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_advisor_user {
    text-align: center;
}

