/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 #upper_banner_bg {
  width:100%;
  height:50px;
  top:0px;
  left:0px;
  position:absolute;
  background-color:#500000;
}
#center_form{
	background-color:#ccc;
	font-family:veranda, arial, helvetica, sans-serif;
	margin-left:200px;
	margin-right:200px;
	padding-left: 40px;
	padding-top:10px;
	box-shadow:inset 0 4px 0 rgba(255,255,255,0.2);
}

#twitter_feed {
    text-align:center;
   
}

#upper_banner {
  width:920px;
  margin-left:auto;
  margin-right:auto;
}

#nav_bar_bg {
  width:100%;
  height:40px;
  margin-top:-5px;
  left:0px;
  position:absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626264), color-stop(100%,#454547));
  background: -webkit-linear-gradient(top, #626264 0%,#454547 100%);
  background: -o-linear-gradient(top, #626264 0%,#454547 100%);
  background: -ms-linear-gradient(top, #626264 0%,#454547 100%);
  background: linear-gradient(to bottom, #626264 0%,#454547 100%);
  border-top:1px solid #919192;
}

#expo_logo_bg {
  width:920px;
  margin-left:auto;
  margin-right:auto;
}

#expo_logo {
  margin-left:0px;
  position:absolute;
  float:left;
  margin-top:-105px;
}

.nav {
  display:inline-block;
  margin-top:-43px;
}

#nav {
  display:inline-block;
  position:relative;
  margin-left:-15px;      		/*margin of buttons relative to expo logo*/
}

#countdown_div {
  margin-top:-15px;
}

/*starts here*/

#cssmenu ul {
  margin: 0;
  padding: 0;
}
#cssmenu li {
  margin: 0;
  padding: 0;
}
#cssmenu a {
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu a {
  text-decoration: none;
}
#cssmenu {
  width:550px;
  margin-left:205px;
  margin-top:23px;
}
#cssmenu > ul > li {
  float: left;
  margin-left: 5px;
  position: relative;
}
#cssmenu > ul > li > a {
  color: #e0e0e0;
  font-family: Verdana, 'Lucida Grande';
  font-size: 15px;
  line-height: 70px;
  padding: 15px 15px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  margin-top: -10px;
  left: 55%;
  margin-left: -90px;
  width: 160px;
  -webkit-transition: all .1s .1s;
  -moz-transition: all .1s .1s;
  -o-transition: all .1s .1s;
  transition: all .1s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  z-index:125;
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
#cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
#cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
#cssmenu ul ul a:hover {
  background-color: #b3b3b3;
  color: #f0f0f0;
}

/*ends here*/

#body_bg {
  width:100%;
  height:800px;
  margin-top:90px;
  left:0px;
  position:absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e3e3), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #e5e3e3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e3e3 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e3e3 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e5e3e3 0%,#ffffff 100%);
  background: -moz-linear-gradient(top, #e5e3e3 0%, #ffffff 100%); /* FF3.6+ */
}


#main_content {
  width:800px;
  height:730px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  background:white;
  padding-left:50px;
  padding-right:50px;
  box-shadow: -2px -2px 20px -3px rgba(0,0,0,0.34);
}

#title {
  width:800px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom:1px solid #e5e5e5;
}

#title h1 {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  font:30px Verdana;
  color:black;
}


#school_button_contain {
  padding-top:30px;
  width:802px;
  margin-left:auto;
  margin-right:auto;
  
}

#school_button_right{ 
  margin-right:0px;
}

.school_buttons {
   border: 2px solid #000000;
   background: #710303;
   padding: 20px 20px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   width:190px;
   margin-right:5px;
   display:inline-block;
   float:left;
   height:60px;
   margin-right:50px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align:center;
   opacity:1;
}


.school_buttons:hover {
   border-top-color: #500000;
   background: #600000;
   color: #dedede;
   }
.school_buttons:active {
   border-top-color: #500000;
   background: #500000;
   }

#other_button_contain {
  padding-top:150px;
  width:802px;
  margin-left:auto;
  margin-right:auto;
}

#other_button_right{ 
  margin-right:0px;
}

.other_buttons {
   border: 2px solid #000000;
   background: #710303;
   padding: 20px 20px;
   padding-top:30px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   width:190px;
   margin-right:5px;
   display:inline-block;
   float:left;
   height:50px;
   margin-right:50px;
   text-align:center;
   }

.other_buttons_payment {
   border: 2px solid #000000;
   background: #000000;
   padding: 20px 20px;
   padding-top:30px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   width:190px;
   margin-right:5px;
   display:inline-block;
   float:left;
   height:50px;
   margin-right:50px;
   text-align:center;
   }

.other_buttons:hover {
   border-top-color: #500000;
   background: #600000;
   color: #dedede;
   }

.other_buttons_payment:hover {
   border-top-color: #500000;
   background: #600000;
   color: #dedede;
   }

.other_buttons:active {
   border-top-color: #500000;
   background: #500000;
   }

.other_buttons_payment:active {
   border-top-color: #500000;
   background: #500000;
   }

#bottom_contact_us_div {
  width:800px;
  margin-left:auto;
  margin-right:auto;
}

#bottom_contact_us {
  width:100%;
  height:30px;
  margin-top:1400px;
  left:0px;
  position:absolute;
  background-color:#500000;
}

#bottom_links {
  width:250px;
  margin-left:auto;
  margin-right:auto;
  padding-top:5px;
}

.bottom_links {
  display:inline block;
  margin-left:10px;
  text-decoration:none;
  color:#e0e0e0;
  font:12px Verdana;
  
}

#bottom_contact_us_FAQ {
  width:100%;
  height:30px;
  margin-top:41px;
  left:0px;
  position:absolute;
  background-color:#500000;
}

#bottom_statement {
	width:675px;
	margin-left:auto;
	margin-right:auto;
	margin-top:150px;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Removes default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Contdonwn */



#CDT {
    font-size: 15px;  						/*FONT SIZE OF MAIN COUNTDOWN NUMBERS*/
    color: #eee;
    margin-top:-90px; 					/*Where the div is located*/
	margin-right:40px;
	float:right;
}

#CDT .number-wrapper {
    margin: 5px;							/*distance between each box*/
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;									/* 7px puts it back to rounded default */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 10px;								/* 12px puts it back to 12px of padding default */
    height: 25px;									/*Height of countdown clock also must change line height*/
    line-height: 25px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
       
#CDT .line {
    position: absolute;
    width: 100%;
    height: 0px; 							/*thickness of line that cuts through middle*/
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
       
.caption {								/*DAYS HOURS MINS SECONDS*/
   font-size: 10px;
   position: absolute;
   bottom: -20px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #777;
}


