<div id="main_content">
      <div id="title"><h1>Advisor Page</h1></div>
	<form action="action_page.php">
	<fieldset>
	<legend>Personal information:</legend>
	First name:<br>
	<input type="text" name="firstname" value="Mickey">
	<br>
	Last name:<br>
	<input type="text" name="lastname" value="Mouse">
	<br><br>
	<input type="submit" value="Submit"></fieldset>
	</form>
	
	<a class="button" href="/advisor_users">New Advisor Registration</a>
</div>

 
<%= link_to 'New Advisor Registration', advisor_users_path, :class => "button" %>

