<% flash.each do |key, value| %>
  <div class="flash_message">
    <%= value %>
  </div>
<% end %>

<div id="main_content">
	<div id="title"><h1>Advisor Page</h1></div>

	<p>Your team name:</p>
	<%= current_user.team_name %>
        <p>Your team code:</p>
        <%= current_user.team_code %>
	
	<br>
	<br>
	
	<div id="school_button_contain">
		<a href="/advisor/info">
			<div class="school_buttons">
					SEC Contact Info for Payment
			</div>
		</a>
		<a href="/advisor/team">
			<div class="school_buttons">
				Create a Team
			</div>
		</a>
                <% if current_user.school_level=="High" %>
                	<a href="/advisor/see_team">
			  	<div class="school_buttons">
			  		See Students On Your Team
				</div>
			</a>
		<% end %>
	</div>

</div>




