<div id="main_content">
	<div id="title"><h1>Advisor Page</h1></div>

	<p>Your payment code:</p>
	<%= current_user.pay_code %>
	
	<br>
	<br>
	
	<a class="button" href="advisor/info">SEC Contact Information</a>

	<br>
	<br>

	<a class="button" href="advisor/team">Create a Team</a>

</div>



