<div id="main_content">
	<div id="title"><h1>SEC Contact Information</h1></div>

	<p>To set up payment for your students you must contact the SEC</p>
	
	<br>
	<br>
	
	<div id="info_contain">
		<p>Phone Number: 555-555-5555</p>
		<p>Fax Number: 555-555-5555</p>
		<p>Email: info@sec.gov</p>
	</div>

</div>
