<div id="main_content">
	<div id="title"><h1>SEC Contact Information</h1></div>

	<p>To set up payment for your students you must contact the SEC</p>
	
	<br>
	<br>
	
	<div id="info_contain">
		<p>Name: <%= Admin.first.name %></p>
		<p>Phone Number: <%= Admin.first.phone %></p>
		<p>Email: spark@sec.tamu.edu</p>
	</div>
        <%= link_to 'Back', '/advisor/index' %>
</div>
