<div id="main_content">
      	<div id="title"><h1>Team Creation Page</h1></div>
        
	<form action="action_page.php">
        <fieldset>
        <legend>Team information:</legend>
        Team name:<br>
        <input type="text" name="teamname" value="">
        <br>
        School name:<br>
        <input type="text" name="schoolname" value="">
        <br><br>
        <input type="submit" value="Submit"></fieldset>
        </form>
        
        <!--<a class="button" href="/advisor_users">New Advisor Registration</a>-->
      </div>
