<!DOCTYPE html>
<html>
<head>
  <title>SPARK Registration Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://spark.tamu.edu/js/countdown.js"></script>
	<script type="text/javascript" src="jquery-1.10.2.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
